# Tell Git to ignore these folders:
.cache/
.parcel-cache/
archived/
audit/
dist/
node_modules/
notes--dev/
src/audio/wprbxmas_misc/
src/audio/wprbxmas_songs/
src/audio/wprbxmas_stories/


# Tell Git to ignore these files:

.DS_Store
wetransfer-ac7d5b.zip

