# Tell Git to ignore these folders:
.cache/
dist/
audio/wprbxmas_songs/
audio/wprbxmas_stories/
audio/wprbxmas_misc/
audit/
node_modules/
notes--dev/

# Tell Git to ignore these files:

.DS_Store
wetransfer-ac7d5b.zip

