html {
  scroll-behavior: smooth;
  /* Current scroll-padding-top value (210px) is the product 
        of trial & error; it is *not* programatically linked to 
        the title cards each Christmas light bulb scrolls to.  
        This will need to be addressed / changed in the future, probably
        during the code review / refactor I plan on undertaking in the three
        months (Sept-Nov 2021) leading up to the 31st annual WPRBXmas marathon. */
  scroll-padding-top: 210px;
}

body {
  background-color: var(--body_bg);
  font-family: "Rubik", sans-serif;
}

/* #region Base Hyperlinks */


a:link
 {
  text-decoration: none;
  background-image: repeating-linear-gradient(60deg, var(--santa_red), var(--santa_red) 15px, var(--off_white) 0, var(--off_white) 30px);
  background-size:  0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  font-weight: 700;
  color: var(--santa_red);
  // color: var(--santa_red);
  text-shadow: 1px 1px 1px var(--black); 
  transition: background-size .5s ease;
}

a:visited {
  color: var(--body_bg);
}

a:focus,
a:hover {
  background-image: repeating-linear-gradient(60deg, var(--santa_red), var(--santa_red) 15px, var(--off_white) 0, var(--off_white) 30px);
  background-size:  100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

a:active {
  color: var(--santa_yellow);
}


/* @endregion */

/* #region Site-Wide Base Image Styles */

img.social_media {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: -5px;
}

/* #endregion Site-Wide Base Image Styles */
