/* #region Self-Hosted Fonts - "Candy Cane" (Candy Cane Unregistered) */

/*  See https://www.dafont.com/candy-cane.font */

@font-face {
  font-family: "Candy Cane";
  src: url("../fonts/candycaneunregistered-gq3y-webfont.woff2") format("woff2"),
    url("../fonts/candycaneunregistered-gq3y-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* #endregion Self-Hosted Fonts - "Candy Cane" (Candy Cane Unregistered) */

/* #region Self-Hosted Fonts - "Xmas Sweater" (Xmas Sweater Stitch) */

/* See: https://www.dafont.com/xmas-sweater-stitch.font */

@font-face {
  font-family: "Xmas Sweater";
  src: url("../fonts/xmassweaterstitch-xxyq-webfont.woff2") format("woff2"),
    url("../fonts/xmassweaterstitch-xxyq-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* #endregion Self-Hosted Fonts - "Xmas Sweater" (Xmas Sweater Stitch) */

/* #region Self-Hosted Fonts - "Happy Xmas" (PENDING) */

@font-face {
  font-family: "Happy Xmas";
  src: url("../fonts/pwhappychristmas-webfont.woff2") format("woff2"),
    url("../fonts/pwhappychristmas-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* #endregion Self-Hosted Fonts - "Happy Xmas" (PENDING) */

/* #region Self-Hosted Fonts - Gloria Hallelujah" */

/* See: https://fonts.google.com/specimen/Gloria+Hallelujah */

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../fonts/GloriaHallelujah-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* #endregion */

/* #region Self-Hosted Fonts - "Rubik" (Rubik) */

/* See: https://fonts.google.com/specimen/Rubik */

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* #endregion Self-Hosted Fonts - "Rubik" (Rubik) */
