#title_card--wprbxmas_tweets {
}

#title_card--wprbxmas_tweets div.wprbxmas_card--desc {
  margin-bottom: 50px;
}

#title_card--wprbxmas_tweets iframe {
  width: auto;
  height: 300px;
  margin-top: 8.25vh;
}

.embedsocial-hashtag {
  height: 500px !important;
  overflow: scroll;
  border-bottom: 2px dotted black;
}
