/* #region Mobile & Tablet Candy Cane Menu */

/* GRMA: https://malin.codes/how-to-make-a-scrollable-menu-without-scrolling-the-body/ */

:root {
  --body_bg: #1f253c;
  --body_bg-lighter: #353b50;
  --santa_red: #ec5e95;
}

html {
  scroll-behavior: smooth;
}

.candy_cane-html-overflow_y_hidden {
  overflow-y: hidden;
}

body {
  background-color: var(--body_bg);
  font-family: "Rubik", sans-serif;
  /* overflow: visible;
  height: 100%; */
}

p {
  background: white;
}

nav.candy_cane-nav {
  position: sticky;
  top: 0;
  padding-bottom: 35px;
  background: blue;
  height: 85px;
  clip-path: circle(120px at top left);
  opacity: 0.8;
}
nav.candy_cane-nav--open {
  height: auto;
  clip-path: none;
}

div.candy_cane-nav--container span {
  color: white;
}

div.candy_cane-links ul {
  margin: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.candy_cane-links li {
  margin: 10px;
  border-radius: 15px;
  background: var(--body_bg-lighter);
}

div.candy_cane-links li:last-child {
  border-bottom: none;
}

div.candy_cane-links li:hover,
div.candy_cane-links li:focus {
  background: var(--santa_red);
}

div.candy_cane-links a {
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

div.candy_cane-toggle {
  padding: 1.5em;
}

div.candy_cane-icon {
  color: var(--santa_red);
}

div.candy_cane-icon:hover,
div.candy_cane-icon:focus {
}

div.candy_cane-nav-hide_everything_but_nav--hidden {
  display: none;
  height: 0;
  width: 0;
}
