/* #region Mobile & Tablet Candy Cane Menu */

/* GRMA: https://malin.codes/how-to-make-a-scrollable-menu-without-scrolling-the-body/ */

:root {
  --body_bg: #1f253c;
  --body_bg-lighter: #353b50;
  --santa_red: #ec5e95;
}

html {
  scroll-behavior: smooth;
}

.candy_cane-html-overflow_y_hidden {
  overflow-y: hidden;
}

body {
  background-color: var(--body_bg);
  font-family: "Rubik", sans-serif;
  /* overflow: visible;
  height: 100%; */
}

nav.candy_nav {
  /* display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.candy_cane-nav--allow_clicks {
  /* pointer-events: initial !important; */
}

div.candy_cane-nav--container {
  /* display: flex;
    position: sticky;
    top: 0;
    height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; */
  display: flex;
}

div.candy_cane-nav--container span {
  color: white;
}

div.candy_cane-links {
  /* position: absolute;
  height: 0; */
  /* Controls how close nav menu is to candy can toggle. */
  /* top: 20px;
  width: 100%;
  margin-top: 45px;
  background: var(--body_bg-lighter);
  opacity: 0.95;
  clip-path: circle(0px at top right);
  transition: all ease-in-out 500ms;
  z-index: 9999; */
  display: flex;
}

.candy_cane-links--open {
  /* height: auto !important;
  clip-path: circle(400% at top right) !important; */
  display: flex !important;
  flex-direction: column;
}

div.candy_cane-links ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

div.candy_cane-links li {
  display: flex;
  border-bottom: 1px solid var(--body_bg);
  background: var(--body_bg-lighter);
}

div.candy_cane-links li:last-child {
  border-bottom: none;
}

div.candy_cane-links li:hover,
div.candy_cane-links li:focus {
  background: var(--santa_red);
}

div.candy_cane-links a {
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

div.candy_cane-toggle {
  /* display: flex;
  cursor: pointer;
  position: absolute;
  top: 0em;
  right: 0.5em;
  padding: 1em;
  pointer-events: initial;
  z-index: 990; */
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background: orangered;
}

div.candy_cane-icon {
  /* display: flex;
  margin-top: -1em;
  margin-top: 0;
  color: var(--santa_red);
  transition: all ease-in-out 500ms;
  z-index: 990; */
  display: flex;
  color: var(--santa_red);
  transition: all ease-in-out 500ms;
}

div.candy_cane-icon:hover,
div.candy_cane-icon:focus {
  /* margin-top: 0.1em;
  transform: scale(1.5) rotate(360deg);
  transform: rotate(360deg); */
  transform: rotate(-59deg);
}
