,<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WPRB Xmas Stories -- 2016</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles--wprbxmas_stories.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="flex_container-row christmas_lights">
      <ul class="strand move">
        <li></li>
        <li></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_vertical_hide"></li>
        <li class="iphone_horizontal_hide iphone_vertical_hide"></li>
        <li class="iphone_horizontal_hide iphone_vertical_hide"></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
        <li
          class="tablet_vertical_hide iphone_horizontal_hide iphone_vertical_hide"
        ></li>
      </ul>
    </div>
    <div class="flex_container-row title_card">
      <img
        src="../images/bouncing_santa.gif"
        width="200px"
        height="200px"
        alt="Christmas Pixel Tinsel Animated GIF by Ivan Dixon"
      />

      <div class="flex_container-column title_card--site_title_and_errata">
        <h1 class="site_name">marathon<span class="dot">.</span>christmas</h1>
        <div class="title_card--subheadings">
          <h2 class="wprbxmas_stories">Ghosts of Marathons Past</h2>
          <h3>WPRBXmas Stories 2016</h3>
        </div>
      </div>
    </div>
    <div class="flex_container-row wprb_xmas_stories">
      <!-- #region AUTHOR_HERE, "TITLE_HERE" -->
      <div class="flex_container-column wprb_xmas_story">
        <div class="flex_container-row wprb_xmas_story--cassette_tape">
          <div class="container scale_tape">
            <div class="side left"></div>
            <div class="cassette">
              <div class="tape beginning">
                <div class="center">
                  <div class="hole">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="tape end">
                <div class="center">
                  <div class="hole">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="face">
                <span class="screw"
                  ><span class="screw-center"></span
                  ><span class="screw-center"></span
                ></span>
                <span class="screw"
                  ><span class="screw-center"></span
                  ><span class="screw-center"></span
                ></span>
                <span class="screw"
                  ><span class="screw-center"></span
                  ><span class="screw-center"></span
                ></span>
                <span class="screw"
                  ><span class="screw-center"></span
                  ><span class="screw-center"></span
                ></span>
                <span class="screw"
                  ><span class="screw-center"></span
                  ><span class="screw-center"></span
                ></span>
                <div class="sticker">
                  <div class="title-label"></div>
                  <div class="title-label"></div>
                  <div class="title-label"></div>
                  <span id="text2">"TITLE_HERE"</span>
                  <div class="bottom-label">
                    <span id="text3">AUTHOR_HERE</span>
                    <span id="text4">TIME_HERE</span>
                    <span id="text5"></span>
                  </div>
                  <div class="window">
                    <div class="tape beginning"></div>
                  </div>
                  <span id="text1" class="text">A</span>
                </div>
              </div>
              <div class="socket">
                <div class="hole"></div>
                <div class="hole"></div>
                <div class="hole"></div>
                <div class="hole"></div>
              </div>
            </div>
            <div class="side right"></div>
          </div>
        </div>
        <div class="flex_container-row xmas_story--cassette_tape_mobile">
          <img
            src="../images/cassette_tape-white.png"
            class="cassette_tape_mobile"
          />
        </div>
        <div class="flex-container-column wprb_xmas_story--story_data">
          <div
            class="flex_container-column wprb_xmas_story--story_data--author_and_title"
          >
            <span class="story_author">AUTHOR_HERE</span>
            <span class="story_title story_title_top_margin"> TITLE_HERE </span>
          </div>
          <div
            class="flex_container-column wprb_xmas_story--story_data--story_desc"
          >
            <p class="story_desc">DESC_HERE</p>
          </div>
        </div>
        <div class="flex_container-column wprb_xmas_story--audio">
          <audio
            src="../audio/wprbxmas_stories/LINK_HERE.mp3"
            type="audio/mp3"
            controls
          ></audio>
        </div>
      </div>
      <!-- #endregion -->
    </div>

    <script src="" async defer></script>
  </body>
</html>
